h1 {
    text-align: center;
    background: rgb(145,9,79,0.2);
    color: rgb(83,20,55);
    padding: 9px;
    text-shadow: -7px 7px 10px grey;
}
.btns {
    display: fel;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
button.btn.btn-outline-primary {
    margin: 5px;
}
img.img-fluid {
    height: 180px;
    width: 300px;
    /* display: flex; */
    /* justify-content: center; */
}
h4{
    color: rgb(126,211,33);
    font-size: 24px;
    letter-spacing: 2px;
    display: block;
}
.col-md-4 {
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    padding: 10px;
}
.col-md-4.px-4 {
        transition: width 2s, height 4s;
    
}

